# Visual Studio project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build directories
x64/
Restaura.*/
Debug/
Release/

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore